colorama==0.4.6
iniconfig==2.3.0
# Editable install with no version control (ledger-editor==0.8.2)
-e c:\users\user\dropbox\dev\python\pyledger-editor
-e git+https://github.com/ctosullivan/ledgerkit.git@39fe691c57add9d2f3bf9cc4901bdc7837bc850d#egg=ledgerkit&subdirectory=vendor\ledgerkit
-e git+https://github.com/ctosullivan/ledgerkit.git@39fe691c57add9d2f3bf9cc4901bdc7837bc850d#egg=ledgerkit_editor
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
packaging==26.2
platformdirs==4.9.6
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
pytest-asyncio==1.3.0
rich==15.0.0
textual==8.2.5
typing_extensions==4.15.0
uc-micro-py==2.0.0
